.section {
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.top__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1BB3BE;
  color: white;
  height: 60px;
}
.top__txt p {
  font-weight: 500px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.top__txt p span {
  font-weight: bold;
}

nav .navbar {
  height: 100px;
  display: flex;
  align-items: center;
  max-width: 1100px;
}
nav .navbar img {
  width: 50px;
}
nav .navbar ul {
  display: flex;
  align-items: center;
  margin-left: 630px;
  gap: 25px;
  list-style: none;
}
nav .navbar ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 900;
  text-decoration: none;
  color: #525252;
}
nav .navbar ul li a :hover {
  text-shadow: 1px 1px 4px black;
}
nav .navbar ul li a span {
  color: #1BB3BE;
}
nav .navbar ul img {
  background-color: #1BB3BE;
  width: 30px;
  padding: 15px;
  border-radius: 5px;
}

header .header__content {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 60px;
  position: relative;
  margin-bottom: 40px;
}
header .header__content .header__txt {
  width: 48%;
  margin-top: 100px;
}
header .header__content .header__txt h1 {
  font-size: 45px;
  margin-bottom: 15px;
}
header .header__content .header__txt h1 span {
  color: #1BB3BE;
}
header .header__content .header__txt p {
  color: #525252;
  margin-bottom: 40px;
  margin-top: 0;
}
header .header__content .header__txt p span {
  color: #1BB3BE;
}
header .header__content .header__txt button {
  background-color: #1BB3BE;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 15px 20px;
  margin-bottom: 20px;
}
header .header__content .header__img img {
  position: absolute;
  top: 0px;
  right: -70px;
}

main {
  background: url(/images/blueBG.svg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
main .main__content {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 60px;
  position: relative;
  margin-bottom: 40px;
}
main .main__content .main__txt h1 {
  font-size: 50px;
  color: #1BB3BE;
  margin-bottom: 0;
}
main .main__content .main__txt p {
  color: #525252;
  margin-bottom: 40px;
}
main .main__content .main__txt button {
  background-color: #1BB3BE;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 15px 20px;
}

.section-how .how__content {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.section-how .how__content h1 {
  color: #1BB3BE;
  margin-top: 100px;
  margin-bottom: 40px;
  font-weight: bolder;
  font-size: 40px;
}
.section-how .how__content .how__cards {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  gap: 40px;
}
.section-how .how__content .how__cards .card__item {
  width: 300px;
}
.section-how .how__content .how__cards .card__item h5 {
  font-size: 15px;
  margin-bottom: 0;
}
.section-how .how__content .how__cards .card__item p {
  color: #525252;
}
.section-how .how__content .how__cards .card__item img {
  width: 220px;
}

@media screen and (max-width: 600px) {
  .top__txt {
    width: 600px;
    background-color: black;
  }
  .section {
    max-width: 400px;
  }
}/*# sourceMappingURL=main.css.map */